:root {
	--color-kvot-bright:#f3b87b; 	/* beige*/
	--color-kvot-accent:#bb6c5d;	/*red-brown*/
	--color-kvot-background:#352921;/*dark-brown*/
	--color-kvot-primary:#344126;	/*dark-green*/
}
@font-face {
	font-family: RawengulkSans;
	src: url(../../vendors/font/RawengulkSans-094.otf);
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /*background: #1e3c72 !important;*/
     color: var(--color-kvot-primary);
     font-family: verdana, sans-serif;
}
.nav-toggle {
  position: fixed;
  cursor: pointer;
  top:0;
  right:0;
  padding: 0px;
  background: transparent;
  border: 1px solid transparent;
  padding:0px;
  margin: 16px;
  z-index: 1000000001;
}

.nav-toggle:focus {
  outline-width: 0;
}

.nav-toggle [class*='bar-'] {
  background: #E8AD1A;
  display: block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .2s ease all;
          transition: .2s ease all;
  
  /* 
   * ENLARGED FOR PRESENTATION
   * Keep these values at the same proportion 
   * for it to look correct
  border-radius: 4px;
  height: 4px;
  width: 50px;
  margin-bottom: 8px;
  */
  border-radius: 2px;
  height: 2px;
  width: 25px;
  margin-bottom: 4px;
}

.nav-toggle .bar-bot {
  margin-bottom: 0;
}

.opened .bar-top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 15% 15%;
          transform-origin: 15% 15%;
}
.opened .bar-mid {
  opacity: 0;
}
.opened .bar-bot {
  -webkit-transform: rotate(45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 15% 95%;
          transform-origin: 15% 95%;
}
#menu {
  z-index: 100000000;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 60px;
  background: rgba(0, 0, 0, 0.85);
}
#menu ul {
  padding: 0;
}
#menu li {
  list-style: none;
}
#menu a {
  color: var(--color-kvot-bright);
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
  font-family:RawengulkSans;
}
#menu a:hover {
  color: var(--color-kvot-accent);
}


header {
     display: grid;
     grid-template-columns: 150px auto 180px 80px;
     position: fixed;
     top: 0;
     left: 0;
     border-bottom: var(--color-kvot-accent) solid 1px;
     background: var(--color-kvot-background);
     color: var(--color-kvot-bright);
     height: 30px;
     width:100%;
     padding:6px;
}
 header .logo {
     margin-left: 0px;
     margin-top: 0px;
     text-align: left;
     height: 30px;
     transition: all 1s;
     transform-origin: 50% 50%;
}

header .logo:hover {
  fill: var(--color-kvot-accent);
  /*transform: scale(1.05);*/
}
.stRight{
  fill: var(--color-kvot-accent);
}
.stTop{
  fill: var(--color-kvot-bright);
}
.stLeft{
  fill: var(--color-kvot-primary);
}
header .title {
margin:2px;
margin-left: 8px;
font-size: 1.5em;

text-align: left;
   color: var(--color-kvot-bright);
font-family:RawengulkSans;
}
header input {
width:140px;
border-radius:4px;
border: 1px solid #004285;
margin-top:4px;
padding:1px;
padding-left:8px;
height: 22px;
}
header input:focus::placeholder {
color: transparent;
}
footer {
   display: grid;
   position: fixed;
   bottom: 0;
   left: 0;
   border-top: var(--color-kvot-accent) solid 1px;
   background: var(--color-kvot-background);
   color: var(--color-kvot-bright);
   height: 24px;
   width:100%;
   padding:1px;
   text-align:center;
   font-size:15px;
   padding-top:5px;
   font-family:RawengulkSans;
}

.content {
  position: absolute;
  top: 43px;
  left: 0;
  width:100%;
  height: calc(100vh - 74px);
  font-family:RawengulkSans;
  color: var(--color-kvot-background);
 /* */
}
#contact {   
  position: fixed; 
    margin: auto;
    padding: 30px;
    visibility:hidden;
}
#links {  
  position: fixed;
  margin: auto;
  padding: 30px;
  visibility:hidden;
  /*
  margin-left: auto;
  margin-right: auto;
   
    position: absolute;
    top: 100px;
    left: 50%;
    list-style: none;
   */

}
#logn {    
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    visibility:visible;
}
#p1,#p2 {  
  width:40px;
}
.logolarge {
  
  display: block;
  margin-left: auto;
  margin-right: auto;
   
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    opacity:0.1;
}


h1 {
	font-family:RawengulkSans;
}
 a {
     color: var(--color-kvot-bright);
     text-decoration: none;
}
 .smallsvg:hover {
     fill: var(--color-kvot-accent);
     transform: scale(1.05);
     cursor:pointer;
}
 .smallsvg {
     fill: var(--color-kvot-bright);
     vertical-align: bottom;
     height: 15px;
     transition: all 0.2s;
     transform-origin: 50% 50%;
}
 .navbarsvg:hover {
     fill: var(--color-kvot-accent);
     transform: scale(1.2);
}
 .navbarsvg {
     padding-top:5px;
     fill: var(--color-kvot-bright);
     vertical-align: middle;
     height: 40px;
     transition: all 1s;
     transform-origin: 50% 50%;
}
 .left {
     position: absolute;
     left: 0;
    /*border-right: #bb6c5d solid 1px;
    */
     width:329px;
     height:100%;
     padding-left:20px;
    /*background: #f3b87b;
    */
}
 .right {
     position: absolute;
     right: 0;
     width:calc(100% - 350px);
     height:100%;
}
#map {
  position: fixed;
  top: 43px;
  left: 0;
  width:100%;
  height: calc(100vh - 74px);
  /*  min-height: 500px;
    height: 100%;
    width: 100%;*/
    z-index: index 200000; 
  }
  .map {
    position: fixed;
    top: 43px;
    left: 0;
    width:100%;
    height: calc(100vh - 74px);
    /*  min-height: 500px;
      height: 100%;
      width: 100%;*/
    z-index: index 200000; 
  }
  #infotext{
    height: 100%;
    width: 100%;

  }
  #chart{
    position:absolute;
    right:100px;
    bottom:100px;
    height:250px;
    width: 250px;
    margin:0vh;
    padding: 0.5em;
    z-index:5;
  }
  #chart p { 
    cursor: move; 
  }
  .ui-draggable, .ui-droppable {
    background-position: top;
  }
  table {
    font-size: 1em;
  }

  .toggler {
    width: 500px;
    height: 200px;
  }
  #button {
    padding: .5em 1em;
    text-decoration: none;
  }
  #effect {
    position: relative;
    width: 240px;
    height: 170px;
    padding: 0.4em;
  }
  #effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }